{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'network/bulma.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'network/network.css' %}">

<div class="splitted-3-page">
    <div>
        {% if user %}
            <!-- Display user logged -->            
            <a class="title" href="{% url 'profile' user.id %}">
                <img src="https://bulma.io/images/placeholders/128x128.png">
            </a><br />
            <a class="title margin" href="{% url 'profile' user.id %}">
                {{ user }}
            </a><br /><br />
            <a class="button margin is-danger is-light" href="{% url 'logout' %}">
                Logout
            </a>
        {% else %}
            <!-- Display offline -->
            <p class="title is-1">Welcome</p>
            <form action="{% url 'login' %}" method="get">{% csrf_token %}
                <button class="button is-link is-light" type="submit">Login</button>
            </form>
        {% endif %}
    </div>
    <div class="flux">
        <!-- New Publication -->
        {% if user %}
            <form action="{% url 'publication' %}" method="post">{% csrf_token %}
                <input class="textarea is-info" rows="10" type="text" name="publication_text" id="user_text" placeholder="Write your publication here" >
                <button class="button is-info margin" type="submit" id="button_connector">Submit</button>
                <p id="display_text_size">0/250</p>
            </form>
        {% endif %}

        <!-- Publication list -->
        {% if publication_list %}
        {% for publication in publication_list reversed %}
            <div class="box">
                <article class="media">                    
                    <div class="media-left">
                        <a class="title" href="{% url 'profile' publication.user_id %}">
                            <img src="https://bulma.io/images/placeholders/128x128.png">
                        </a>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <a class="title" href="{% url 'profile' publication.user_id %}">{{ publication.user_name }}</a>
                                <small>{{ publication.date  }}</small><br />
                                {{ publication.text }}
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        {% endfor %} 
        {% endif %}
    </div>
    <div>
    </div>
</div>

<script>
    // Wait until the DOM is fully loaded to call any JS bind
    document.addEventListener("DOMContentLoaded", function () {
        
        // Character count
        document.querySelector("#user_text").addEventListener("input", () => {

            const lElement = document.querySelector("#user_text");
            display_text_size.innerHTML = lElement.value.length + "/250";

            const button = document.querySelector("#button_connector");

            if (lElement.value.length > 250) {
                //Red and block Connection
                display_text_size.style.color = "#cc0f35";
                button.disabled = "disabled";
            }
            else{              
                //Gray and enable Connection  
                display_text_size.style.color = "#4a4a4a";
                button.disabled = "";
            }
        });
    });
</script>