{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'network/bulma.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'network/network.css' %}">

<div id = "login">
    <div>
        <!-- Home -->
        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <button class="button is-primary" type="submit">Home</button>
        </form>
        
        <!-- Register -->
        <form action="{% url 'register' %}" method="get">
            {% csrf_token %}
            <button class="button is-primary" type="submit">Register</button>
        </form>
    </div>
    <div>
        <!-- Login -->
        <p class="title is-1">Login</p>
        <h1>{{ error }}</h1>
        <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
            <input class="input is-primary login_content" type="text" placeholder="Username" id="user_name" name="user_name" value="{{ user_name }}">
            <input class="input is-primary login_content" type="text" placeholder="Password" id="password" name="password" value="{{ password }}">
            <button class="button is-primary login_content" type="submit">Submit</button>
        </form>
    </div>
    <div>        
    </div>
</div>
