{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'network/bulma.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'network/network.css' %}">

<div class="splitted-3-page">
    <div>
        <!--  Home  -->
        <form action="{% url 'home' %}">{% csrf_token %}
            <button class="button" type="submit">Home</button>
        </form>  
    </div>

    <div class="column_div">
        <div>
        <!--  Display profile picture  -->
        <figure class="image is-128x128">
            <img class="is-rounded" src="../../static/network/images/profile.png">
        </figure>   
        <!--  Upload button  -->
        <form action="{% url 'profile_edit' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="file has-name">
                <label class="file-label">
                  <input class="file-input" type="file" name="uploaded_file">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a file…
                    </span>
                  </span>
                  <span class="file-name">
                      No file selected
                  </span>
                </label>
              </div>
            </div>

            <div>
            <input class="input" type="text"  name="username" value="{{ user.us_name }}">
            </div>

            <div>
            <button class="button margin" type="submit">Save</button>
        </form>          
        </div>
    </div>      
    <div>
    </div>
</div>