{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'network/bulma.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'network/network.css' %}">

<div class="splitted-3-page">
    <div>
        <!-- Display user logged -->
        <figure class="image is-128x128">
            <figure class="image is-128x128">
                <img class="is-rounded" src="../../static/network/images/profile.png">
            </figure>
        </figure><br />  
        <h1 class="title is-1" method="post">{{ user.us_name }}</h1>

        <!-- Opened profile is the current user -->
        {% if editable %}
            <form action="{% url 'profile_edit' %}">{% csrf_token %}
                <button class="button" type="submit" name="username" value="{{ user.us_name }}" >Edit</button>
            </form>
        {% endif %}
    </div>
    <div class="flux">
        <!-- Publications list -->
        {% for public in publications %}
            {% if public.user_id == user.id %}
                <div class="box">
                    <article class="media">                    
                        <div class="media-left">                            
                            <figure class="image is-96x96">
                                <img class="is-rounded" src="../../static/network/images/profile.png">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{ public.user_name }}</strong> <small>{{ public.date  }}</small><br />
                                    {{ public.text }}
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div></div>
</div>