.splitted-3-page
{
    border-top: 50px solid transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flux
{
    width: 800;
}

.login_content
{
    margin: 5px;
}

.register_content
{
    margin: 5px;
}

.margin
{
    margin-top: 5px;
}

.no_border
{
    border: 30px solid transparent;
    margin: 50px;
    padding: 50px;
    color: red;
}